<a href="https://colab.research.google.com/github/oushnik23/Various-Classification-Models/blob/main/ANN_Deep_Learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Import Libraries**

In [41]:
import numpy as np
import pandas as pd
import tensorflow as tf

**Import Datasets**

In [42]:
dataset = pd.read_csv('Churn_Modelling.csv')
x=dataset.iloc[:,3:-1]
y=dataset.iloc[:,-1]

In [43]:
dataset

      RowNumber  CustomerId    Surname  ...  IsActiveMember EstimatedSalary Exited
0             1    15634602   Hargrave  ...               1       101348.88      1
1             2    15647311       Hill  ...               1       112542.58      0
2             3    15619304       Onio  ...               0       113931.57      1
3             4    15701354       Boni  ...               0        93826.63      0
4             5    15737888   Mitchell  ...               1        79084.10      0
...         ...         ...        ...  ...             ...             ...    ...
9995       9996    15606229   Obijiaku  ...               0        96270.64      0
9996       9997    15569892  Johnstone  ...               1       101699.77      0
9997       9998    15584532        Liu  ...               1        42085.58      1
9998       9999    15682355  Sabbatini  ...               0        92888.52      1
9999      10000    15628319     Walker  ...               0        38190.78      0

[10000 rows x 14 columns]

In [44]:
x

      CreditScore Geography  Gender  ...  HasCrCard  IsActiveMember  EstimatedSalary
0             619    France  Female  ...          1               1        101348.88
1             608     Spain  Female  ...          0               1        112542.58
2             502    France  Female  ...          1               0        113931.57
3             699    France  Female  ...          0               0         93826.63
4             850     Spain  Female  ...          1               1         79084.10
...           ...       ...     ...  ...        ...             ...              ...
9995          771    France    Male  ...          1               0         96270.64
9996          516    France    Male  ...          1               1        101699.77
9997          709    France  Female  ...          0               1         42085.58
9998          772   Germany    Male  ...          1               0         92888.52
9999          792    France  Female  ...          1               0         38190.78

[10000 rows x 10 columns]

In [45]:
y

0       1
1       0
2       1
3       0
4       0
       ..
9995    0
9996    0
9997    1
9998    1
9999    0
Name: Exited, Length: 10000, dtype: int64

**Checking catagorical column in Dataset**

In [46]:
cat=(dataset.dtypes=='object')
object_cols=list(cat[cat].index)
print(object_cols)

['Surname', 'Geography', 'Gender']

**Checking Numerical column in Dataset**

In [47]:
num=(dataset.dtypes!='object')
object_num=list(num[num].index)
print(object_num)

['RowNumber', 'CustomerId', 'CreditScore', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard', 'IsActiveMember', 'EstimatedSalary', 'Exited']

**One Hot Encoding**

In [48]:
x=pd.get_dummies(x)
x

      CreditScore  Age  Tenure  ...  Geography_Spain  Gender_Female  Gender_Male
0             619   42       2  ...                0              1            0
1             608   41       1  ...                1              1            0
2             502   42       8  ...                0              1            0
3             699   39       1  ...                0              1            0
4             850   43       2  ...                1              1            0
...           ...  ...     ...  ...              ...            ...          ...
9995          771   39       5  ...                0              0            1
9996          516   35      10  ...                0              0            1
9997          709   36       7  ...                0              1            0
9998          772   42       3  ...                0              0            1
9999          792   28       4  ...                0              1            0

[10000 rows x 13 columns]

In [49]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=.2)

**Feature Scalling**

In [50]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
xtrain=sc.fit_transform(xtrain)
xtest=sc.transform(xtest)

***Building an ANN***

**Initializing the ANN**

In [51]:
ann=tf.keras.models.Sequential()

**Adding Input Layer and 1st Hidden Layer**

In [52]:
ann.add(tf.keras.layers.Dense(units=6,activation='relu'))

**Adding the 2nd Hidden Layer**

In [53]:
ann.add(tf.keras.layers.Dense(units=6, activation='relu'))

**Adding the Output Layer**

In [54]:
ann.add(tf.keras.layers.Dense(units=1,activation='sigmoid'))

**TRAINING ANN**

**Compiling The ANN**

In [55]:
ann.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy'])

**Training the ANN on Training Set**

In [56]:
ann.fit(xtrain,ytrain, batch_size=32, epochs=100)

Epoch 1/100
250/250 [==============================] - 1s 2ms/step - loss: 0.6268 - accuracy: 0.7000
Epoch 2/100
250/250 [==============================] - 0s 1ms/step - loss: 0.5131 - accuracy: 0.7956
Epoch 3/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4785 - accuracy: 0.7956
Epoch 4/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4602 - accuracy: 0.7956
Epoch 5/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4462 - accuracy: 0.7958
Epoch 6/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4351 - accuracy: 0.8000
Epoch 7/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4275 - accuracy: 0.8094
Epoch 8/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4222 - accuracy: 0.8146
Epoch 9/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4182 - accuracy: 0.8176
Epoch 10/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4137 - accuracy: 0.8207
Epoch 11/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4091 - accuracy: 0.8205
Epoch 12/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4031 - accuracy: 0.8223
Epoch 13/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3983 - accuracy: 0.8232
Epoch 14/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3939 - accuracy: 0.8251
Epoch 15/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3900 - accuracy: 0.8257
Epoch 16/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3863 - accuracy: 0.8286
Epoch 17/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3827 - accuracy: 0.8338
Epoch 18/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3786 - accuracy: 0.8391
Epoch 19/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3730 - accuracy: 0.8438
Epoch 20/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3681 - accuracy: 0.8464
Epoch 21/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3646 - accuracy: 0.8491
Epoch 22/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3616 - accuracy: 0.8482
Epoch 23/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3595 - accuracy: 0.8494
Epoch 24/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3582 - accuracy: 0.8484
Epoch 25/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3571 - accuracy: 0.8471
Epoch 26/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3555 - accuracy: 0.8500
Epoch 27/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3550 - accuracy: 0.8521
Epoch 28/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3547 - accuracy: 0.8537
Epoch 29/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3538 - accuracy: 0.8525
Epoch 30/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3524 - accuracy: 0.8534
Epoch 31/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3523 - accuracy: 0.8535
Epoch 32/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3517 - accuracy: 0.8528
Epoch 33/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3512 - accuracy: 0.8559
Epoch 34/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3507 - accuracy: 0.8547
Epoch 35/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3502 - accuracy: 0.8545
Epoch 36/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3500 - accuracy: 0.8544
Epoch 37/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3499 - accuracy: 0.8545
Epoch 38/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3491 - accuracy: 0.8554
Epoch 39/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3494 - accuracy: 0.8533
Epoch 40/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3488 - accuracy: 0.8541
Epoch 41/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3485 - accuracy: 0.8549
Epoch 42/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3480 - accuracy: 0.8556
Epoch 43/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3483 - accuracy: 0.8547
Epoch 44/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3480 - accuracy: 0.8556
Epoch 45/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3479 - accuracy: 0.8539
Epoch 46/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3478 - accuracy: 0.8564
Epoch 47/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3473 - accuracy: 0.8559
Epoch 48/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3477 - accuracy: 0.8560
Epoch 49/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3470 - accuracy: 0.8570
Epoch 50/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3469 - accuracy: 0.8554
Epoch 51/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3469 - accuracy: 0.8546
Epoch 52/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3465 - accuracy: 0.8547
Epoch 53/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3466 - accuracy: 0.8565
Epoch 54/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3459 - accuracy: 0.8559
Epoch 55/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3459 - accuracy: 0.8561
Epoch 56/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3452 - accuracy: 0.8568
Epoch 57/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3457 - accuracy: 0.8572
Epoch 58/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3448 - accuracy: 0.8560
Epoch 59/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3451 - accuracy: 0.8559
Epoch 60/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3449 - accuracy: 0.8559
Epoch 61/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3447 - accuracy: 0.8562
Epoch 62/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3446 - accuracy: 0.8555
Epoch 63/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3445 - accuracy: 0.8546
Epoch 64/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3443 - accuracy: 0.8558
Epoch 65/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3441 - accuracy: 0.8569
Epoch 66/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3437 - accuracy: 0.8572
Epoch 67/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3441 - accuracy: 0.8556
Epoch 68/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3441 - accuracy: 0.8575
Epoch 69/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3435 - accuracy: 0.8550
Epoch 70/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3439 - accuracy: 0.8560
Epoch 71/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3441 - accuracy: 0.8558
Epoch 72/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3435 - accuracy: 0.8559
Epoch 73/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3430 - accuracy: 0.8566
Epoch 74/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3435 - accuracy: 0.8570
Epoch 75/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3431 - accuracy: 0.8555
Epoch 76/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3428 - accuracy: 0.8561
Epoch 77/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3426 - accuracy: 0.8570
Epoch 78/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3428 - accuracy: 0.8566
Epoch 79/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3429 - accuracy: 0.8581
Epoch 80/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3427 - accuracy: 0.8581
Epoch 81/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3428 - accuracy: 0.8556
Epoch 82/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3424 - accuracy: 0.8569
Epoch 83/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3422 - accuracy: 0.8572
Epoch 84/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3424 - accuracy: 0.8564
Epoch 85/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3427 - accuracy: 0.8575
Epoch 86/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3422 - accuracy: 0.8565
Epoch 87/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3426 - accuracy: 0.8564
Epoch 88/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3422 - accuracy: 0.8586
Epoch 89/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3424 - accuracy: 0.8572
Epoch 90/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3420 - accuracy: 0.8554
Epoch 91/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3417 - accuracy: 0.8546
Epoch 92/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3421 - accuracy: 0.8571
Epoch 93/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3418 - accuracy: 0.8579
Epoch 94/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3420 - accuracy: 0.8571
Epoch 95/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3420 - accuracy: 0.8574
Epoch 96/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3420 - accuracy: 0.8570
Epoch 97/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3417 - accuracy: 0.8577
Epoch 98/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3419 - accuracy: 0.8581
Epoch 99/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3413 - accuracy: 0.8577
Epoch 100/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3413 - accuracy: 0.8581

In [65]:
print(ann.predict(sc.transform([[600,40,3,60000,2,1,1,50000,1,0,0,0,1]]))>0.5)

[[False]]

In [68]:
y_pred=ann.predict(xtest)>5

In [73]:
print(np.concatenate((y_pred.reshape(len(y_pred),1),ytest.values.reshape(len(ytest),1)),1))

[[0 0]
 [0 1]
 [0 0]
 ...
 [0 0]
 [0 0]
 [0 0]]

In [78]:
from sklearn.metrics import confusion_matrix,accuracy_score
cm=confusion_matrix(y_pred,ytest)
cm
print(accuracy_score(y_pred,ytest)*100)

79.9